<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>以下の内容で投稿してもいいですか？</h3>
  <div class="field">
    <%= form.hidden_field :sentence %>
    <%= form.label :sentence %><br>
    <%= @post.sentence %>
  </div>

  <div class="field">
    <%= form.hidden_field :image %>
    <%= form.hidden_field :image_cache %>
    <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%= form.submit value: '戻る', name: 'back' %>
  </div>
<% end %>
