<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-light bg-light d-flex">
      <div  class="navbar-brand flex-grow-1">
      <a class="app-name" href="/posts">Instagram</a>
      </div>
      <%= link_to image_tag("index-users.png", class: 'nav-image'), posts_path %>
      <%= link_to image_tag("new-post.png", class: 'nav-image'), new_post_path %>
      <% if logged_in? %>
        <%= link_to image_tag("logout.png", class: 'nav-image'), session_path(@current_user.id), method: :delete %>
        <%= link_to image_tag("user.png", class: 'nav-image'), user_path(current_user.id) %>
      <% else %>
        <%= link_to image_tag("enter.png", class: 'nav-image'), new_session_path %>
        <%= link_to image_tag("user.png", class: 'nav-image'), new_user_path %>
      <% end %>
    </header>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
